
 body{
    background: url(http://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_dh8LV2F.jpg)
   }
/**{
  border: 1px solid black;
}*/
header{
  border-bottom: 2px solid grey;
  /*flot: left;
  display; inline-block;
  padding: auto 15px;*/
}
h1{
  text-align: center;
  color: yellow;
}
h3{
  color:red;
}
#wrapper{
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
  padding: 0px 15px;
  /*margin: 10px auto;
*/}
#main-title{
  width: 75%;
}
.jumbotron{
margin-bottom: 2rem;

}
@media (min-width: 550px){
.jumbotron{
  padding: 4rem 2rem;
}
}
.container{
  /*width: 100px;*/
  display: flex;
  flex-direction: row;
}
.container1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
  
}
.article{
  width: 32%;
}
.article1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 10px;
}
.sidebar-content{
  position: relative;
  width: 25%;
  min-height: 1px;
  padding: 0px 15px;
}
.heading{
  position: relative;
  margin-bottom: 2em;
  border-bottom: 1px solid grey;
  font-size: 1rem;
}
.articles{
  box-sizing: inherit;
}
.article.row{
  display: flex;
}
.article{
  margin-bottom: 2em;
}
.row{
  flex-wrap: wrap;
  margin: 0px -15px;
}
.title-sidebar{
  width: 75%;
  padding: right;
  flex: 1;
  
}
/*.img-fluid{
  max-width: 100%;
  height: auto;
}*/



footer{
  border-top: 1px solid purple;
  text-align: center;
}