
 body{
    background: url(http://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_dh8LV2F.jpg)
   }
/**{
  border: 1px solid black;
}*/
header{
  border-bottom: 2px solid grey;
}
h1{
  text-align: center;
  color: yellow;
}
h3{
  color:red;
}
/*the main page  */
#wrapper{
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
  padding: 0px 10px;
  }
#main-title{
  width: 75%;
}
/*the main article with the header*/
.jumbotron{
margin-bottom: 2rem;
}
.container1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
  
}
.article{
  width: 32%;
  padding: 0px 8px; 
}
.article1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 8px;
}
.sidebar-content{
  position: relative;
  width: 25%;
  min-height: 1px;
  padding: 0px 10px;
}
.heading{
  position: relative;
  margin-bottom: 2em;
  border-bottom: 1px solid grey;
  font-size: 2rem;
}
.articles{
  box-sizing: inherit;
}
.article.row{
  display: flex;
}
.article{
  margin-bottom: 2em;
}
.row{
  flex-wrap: wrap;
  margin: 0px -15px;
}
.title-sidebar{
  width: 75%;
  padding: right;
  flex: 1;
  
}
img{
  max-width: 100%;
 
}
.contact{
  padding: 15px 5px;
}

@media screen and (max-width: 620px){
        #main-title{
  width: 100%;
}
	           .sidebar-content{
                width: 100%;
              }
              .container1{
                width: 100%;
              }
              .article{
                width: 50%;
              }
	}
footer{
  border-top: 1px solid purple;
  text-align: center;
}